{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	enseñate / ayuda
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/usuario/ayuda.css' %}">
{% endblock %}

{% block body %}

{% include 'bases/nav-user.html' %}

<div class="contenedor">
	<div class="burbuja">
	
	<div class="texto-ayuda">
		<span class="titulo">Ayuda</span>
	</div>

	<div class="texto-ayuda">
		<strong class="titulo-parrafo">¿Quienes Somos?</strong>

		<p class="parrafo-descripcion">
			Aplicacion web de caracter educativo basado principalmente en promover el Aprendizaje del Lenguaje de Señas tiendo como objetivo homologar y elevar la calidad de los procesos de enseñanza y aprendizaje del lenguaje de señas, en los programas educativos curriculares de los niveles bajo, medio y superior, que se imparten en distintas modalidades educativas.
		</p>
	</div>

	<div class="texto-ayuda">
		<strong class="titulo-parrafo">¿Como Funciona Las Gemas?</strong>

		<p class="parrafo-descripcion">
			Obtienes <strong>gemas</strong> cada vez que terminas una leccion que mejora tus habilidades en el lenguaje.
		</p>

	</div>	
	
	<div class="dudas">
		<strong>¿Aun Tienes dudas?</strong>

		<div class="link-contacto">
			<a href="{% url 'contactanos' %}">contactanos</a>
		</div>
	</div>

	</div>
</div>

{% endblock %}