{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	ensenate / snake
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/juegos/juegos.css' %}">
{% endblock %}


{% block body %}
	{% include 'bases/nav-user.html' %}
	
	<div class="contenedor">		
		<div class="burbuja_invisible">
			<div class="burbuja">
				<h4 id="nombre_juego" class="titulo" >{{juego}}</h4>
				
				<canvas id="canvas" width="304" height="304">
					
				</canvas>
				
				<div class="salir">
					<a id="salir" href="{% url 'perfil' %}">salir</a>
				</div>
			</div>

			<div class="burbuja_derecha">
				<div class="puntuaciones">
					<span class="mejores_puntuaciones">
						<h4 class="titulo" >Mejores Puntuaciones</h4>
						<img class="icon-score" src="{% static 'img/bestscore.png' %}" alt="mejores puntuaciones">
					</span>
					
					<ul class="list-mejores">
					{% for mejores in mejorespuntuaciones %}
						
						<li class="puesto{{ forloop.counter }}">
							<div class="">
								<img src="{{ mejores.usuario.image.url }}" alt="">
								<h4>{{mejores.usuario.username}}</h4>
							</div>
							<h4>{{mejores.puntos}}</h4>
							
						</li>

					{% endfor %}
					</ul>
				
				</div>

				<div class="puntuaciones">
					<span class="mejores_puntuaciones">
						<h4 class="titulo" >Maxima Puntuacion</h4>
						<img class="icon-score" src="{% static 'img/myscore.png' %}" alt="mejor puntuacion">
					</span>
					
					<ul class="list-mejores">
						<li class="mispuntos">
							<div class="">
								<img src="{{ request.user.image.url }}" alt="">
								<h4>{{request.user.username}}</h4>
							</div>
							<h4>{{puntos}}</h4>
							
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		var cvs = document.getElementById("canvas");
		var ctx = cvs.getContext("2d");

		var box = 16;

		var ground = new Image();
		ground.src = "{% static 'img/juegos/snake/ground.png' %}";

		var foodImg = new Image();
		foodImg.src = "{% static 'img/juegos/snake/food.png' %}";

		// create the snake

		let snake = [];
		var puntos = 0;

		snake[0] = {
		    x : 12 * box,
		    y : 10 * box
		};

		// create the food

		let food = {
		    x : Math.floor(Math.random()*17+1) * box,
		    y : Math.floor(Math.random()*15+3) * box
		}

		//control the snake

		let d;

		document.addEventListener("keydown",direction);

		function direction(event){
		    let key = event.keyCode;
		    if( key == 37 && d != "RIGHT"){
		        d = "LEFT";
		    }else if(key == 38 && d != "DOWN"){
		        d = "UP";
		    }else if(key == 39 && d != "LEFT"){
		        d = "RIGHT";
		    }else if(key == 40 && d != "UP"){
		        d = "DOWN";
		    }
		}


		// cheack collision function
		function collision(head,array){
		    for(let i = 0; i < array.length; i++){
		        if(head.x == array[i].x && head.y == array[i].y){
		            return true;
		        }
		    }
		    return false;
		}

		function draw(){
    
    		ctx.drawImage(ground,0,0);

    		for( let i = 0; i < snake.length ; i++){
		        ctx.fillStyle = ( i == 0 )? "yellow" : "white";
		        ctx.fillRect(snake[i].x,snake[i].y,box,box);
		        
		        ctx.strokeStyle = "red";
		        ctx.strokeRect(snake[i].x,snake[i].y,box,box);
		    }

	        ctx.drawImage(foodImg, food.x, food.y);


		    // old head position
		    let snakeX = snake[0].x;
		    let snakeY = snake[0].y;
		    
		    // which direction
	    	if( d == "LEFT") snakeX -= box;
		    if( d == "UP") snakeY -= box;
		    if( d == "RIGHT") snakeX += box;
		    if( d == "DOWN") snakeY += box;

            // if the snake eats the food
		    if(snakeX == food.x && snakeY == food.y){
		        puntos++;
		        food = {
		            x : Math.floor(Math.random()*17+1) * box,
		            y : Math.floor(Math.random()*15+3) * box
		        }
		        // we don't remove the tail
		    }else{
		        // remove the tail
		        snake.pop();
		    }

			let newHead = {
			    x : snakeX,
			    y : snakeY
			}

			if(snakeX < box || snakeX > 17 * box || snakeY < 3*box || snakeY > 17*box || collision(newHead,snake)){
		        clearInterval(game);
		    	ctx.fillStyle = "white";
			    ctx.font = "30px Ubuntu";
			    ctx.fillText("GAME OVER",4*box,7*box);
				var salir = document.getElementById('salir');
				var direccion = "/guardar/{{juego}}/"+this.puntos;
				salir.href = direccion;
				return;
		    }

		    snake.unshift(newHead);
		    ctx.fillStyle = "white";
		    ctx.font = "20px Ubuntu";
		    ctx.fillText(puntos,2*box,1.6*box);


    	}

    	var game = setInterval(draw,100);

	</script>
{% endblock %}
