@import url('../base/base.css');
@import url('../dashboard.css');
@import url('../fontello.css');


.burbuja{
	width: auto;
	padding: 1rem;
	margin: 1rem;
}
.burbuja_invisible{
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 6rem auto;
	align-items: center;
}
.titulo{
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #333;
	padding: 0.5rem;
	margin: 0.5rem;
}

.burbuja_derecha {
    padding: 0.5rem;
}

.puntuaciones {
    background: white;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
}

.mejores_puntuaciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mejores_puntuaciones > img{
	margin: 0.5rem;
	padding: 0.5rem;
}

.icon_score{
	width: 32px;
	height: 32px;
}

.list-mejores{
	list-style: none;
	margin: 0.5rem;
	padding: 0.5rem;
}

.list-mejores > li {
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.list-mejores > li > div{
	display: flex;
	align-items: center;
}
.list-mejores > li > div > img{
	width: 32px;
	height: 32px;
	margin: 0.2rem;
}

.puesto1{
	background: #01bbd4;
}
.puesto2{
	background: #02a8f4;
}
.puesto3{
	background: #2095f2;
}

.mispuntos{
	background: #d0d3d4;
}

.mispuntos > div > h4 {
    color: #333;
}

.mispuntos > h4 {
    color: #333;
}

.salir {
    display: block;
    margin: 0.5rem;
    margin-top: 1rem;
}

.salir > a{
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    background: #3498db;
    margin: 0.5rem;
    border-radius: 0.8rem;
    text-decoration: none;
    color: white;

}