{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	enseñate / Aprende el lenguaje de señas
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/inicio.css' %}">

{% endblock %}

{% block body %}

{% include 'bases/nav.html' %}


<main class="burbuja">

	<div class="seccion seccion-1">
		<div class="contenedor">
			<div class="banner">
				<img class="img-banner" src="{% static 'img/imagen-1.png' %}" alt="Imagen de presentacion">				
				
				<div class="texto-banner">
					<h2 class="titulo_2">Aprende el lenguaje de señas con nosotros y diviertete <strong><br>!Es Muy Facil¡</strong></h2>
					<a  href="{% url 'registrar_usuario' %}" class="">Registrate</a>
				</div>
			</div>

		</div>
	</div>
	<div class="seccion seccion-2">
		<div class="contenedor">
			<div class="banner">
				<img class="img-banner" src="{% static 'img/imagen-2.png' %}" alt="¿Quienes Somos?">
				<div class="caja-texto">
					<p class="">¿Quienes Somos? <br><br>Aplicacion web de caracter educativo basado principalmente en promover el Aprendizaje del Lenguaje de Señas tiendo como objetivo homologar y elevar la calidad de los procesos de enseñanza y aprendizaje del lenguaje de señas, en los programas educativos curriculares de los niveles bajo, medio y superior, que se imparten en distintas modalidades educativas.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="seccion seccion-3">
		<div class="contenedor">
			<div class="banner">
				<div class="caja-texto">
					<p>¿Como Funcionamos? <br><br>Aplicación directa y al grano para aprender el Lenguaje de Señas. Es muy simple de usar. Te registras, ¡y empiezas! ¡FACIL!</p>
				</div>
				<img src="{% static 'img/imagen-3.png' %}" alt="¿Quienes Somos?">
			</div>
		</div>
	</div>
	<div class="seccion seccion-2">
		<div class="contenedor">
			<div class="banner">
				<img src="{% static 'img/imagen-4.png' %}" alt="¿Quienes Somos?">
				<div class="caja-texto">
					<p>Cada leccion es como un juego <br><br><span class="icon-heart">Vidas</span><br>¡Los corazones te mantienen vivo! Los pierdes cuando tu respuesta es incorrecta. Cuando se te acaban debes empezar de nuevo. <br><br><span class="icon-pin">Leer, observa y escribe</span><br>Cada lección incluye una variedad de ejercicios de lectura y opción múltiple. <br><br> <span class="icon-ok">Evaluacion Continua</span><br>Puedes ver tus respuestas correctas al instante.  </p>
					
				</div>
			</div>
		</div>
	</div>
</main>

{% include 'bases/footer.html' %}
{% endblock %}