@import url('base/base.css');
@import url('base/nav.css');
@import url('dashboard.css');
@import url('colores.css');

.burbuja{
	padding: 0;
	padding-bottom: 0.2em;
	border-radius: 1em;
	border-radius: 1em 1em 0 0;
}
.titulo{
	text-align: left;
	display: flex;
	align-items: center;
	margin: 0;
	color: #333;
	border-radius: 1em 1em 0 0;
}
.titulo > img{
	width: 72px;
	height: 72px;
	padding: 1em;
}
.titulo > span{
	font-size: 1.3em;
	text-transform: uppercase;
	color: white;
}

.burbuja-secciones{
	margin: 0.5em 0;
}
.secciones{
	border-radius: .8em;
	background: white;
	margin: 0.8em;
	padding: 0.8em;
	display: inline-block;
	box-shadow: 0 0 0.3em #d0d3d4;
	width: 18em;
}

.secciones > span{
	background: none;
	display: block;
	margin: 1em;
	padding: 0.5em;
	font-size: 1em;
	font-weight: bold;
	color: #333;
}

.secciones > p{
	margin: 0.2em;
	padding: 0.2em;
	color: #a4a4a4;
	text-transform: uppercase;
}

.secciones > a{
	display: inline-block;
	border-radius: 1em;
	margin: 1em;
	padding: 0.8em;
	text-transform: lowercase;
	text-decoration: none;
	color:white;
	transition: all;
	transition-delay: .3s;
	transition-duration: .3s;
	text-transform: uppercase;
}

.secciones > a:hover{
	background: #3498DB;
}