@import url('base/base.css');
@import url('base/nav.css');
@import url('dashboard.css');

.username, .user-gem,.user-image, .user-nombres, .aprendiendo, .biografia{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	
	padding: .2em;
	margin:0.2em;
	color: #333
}

.username{
	font-size: 2em;
}
.user-image > img{
	width: 8em;
	height: 8em;
	max-width: 10em;
	max-height: 10em;
}
.user-gem{	
	font-size: 1.2rem;
	font-weight: normal;
	display: flex;
	justify-content: center;
	height: 1.5rem;
}
.aprendiendo{
	text-align: left;
}
.username{
	text-transform: lowercase;
}