{% extends 'bases/base.html' %}

{% load staticfiles %}

{% block title %}
	Recuperacion de Contraseña / Enseñate
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/confirmar-password.css' %}">
{% endblock %}

{% block body %}

{% if validlink %}

{% include 'bases/nav.html' %}

	<div class="contenedor">
		<div class="burbuja">
			<h1>Nueva Contraseña</h1>
			{% if form.errors %}
				<p class="error">las contraseñas no coinciden <br> intentelo nuevamente</p>
			{% endif %}
			<form method="post" class="formulario" name="formulario">{%csrf_token%}

			<div class="grupo-inputs">
				<input type="password" id="id_new_password1" placeholder="Nueva Contraseña" name="new_password1">
			</div>
			<div class="grupo-inputs">
				<input type="password" id="id_new_password2" placeholder="Confirmar Contraseña" name="new_password2">
			</div>
			<div class="grupo-inputs">
				<input type="submit" value="Cambiar Contraseña">
			</div>
			</form>	
		</div>
	</div>


{% else %}
<div class="contenedor">
		<div class="burbuja">
			<h1>Link Invalido Intentelo Nuevamente</h1>
		</div>
	</div>

{% endif%}

<script type="text/javascript" src="{% static 'js/inicio.js' %}" ></script>

{% endblock %}