{% extends 'bases/base.html' %}

{% load staticfiles %}

{% block title %}
	Recuperar Contraseña / Enseñate
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/restablecer-password.css' %}">
{% endblock %}

{% block stiles %}
{% endblock %}

{% block body %}

{% include 'bases/nav.html' %}
	<div class="contenedor">
		<div class="burbuja">
			
			<h1>Restablecer Contraseña</h1>
			<h2>Te enviaremos instrucciones al correo para que puedas restablecer tu contraseña.</h2>
			
			<form method="post" class="formulario"> {% csrf_token %}
				<p class="grupo-inputs">
					<input id="id_email" maxlength="254" name="email" type="email" placeholder="ingresa tu correo">
					<input type="submit" value="Enviar">
				</p>
			</form>	
		</div>
	</div>
{% endblock %}