{% extends 'bases/base.html' %}

{% load staticfiles %}

{% block title %}
	Recuperacion de Contraseña Completa / Enseñate
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/restablecer-password.css' %}">
{% endblock %}

{% block body %}

{% include 'bases/nav.html' %}

	<div class="contenedor">
		<div class="burbuja">
			<h1>Cambio exitoso</h1>
			<h2>Su Contraseña se Restablecio de Forma Exitosa puedes iniciar sesion nuevamente desde <a href="{% url 'login' %}">aqui</a></h2>
		</div>
	</div>

{% endblock %}