{% load staticfiles %}

<header>
	<div class="contenedor">
		<div class="navegacion">
			<div class="enlaces-izquierda">
					<a  class="titulo-principal" href="{% if request.user.is_authenticated %} {% url 'dashboard' %} {% else %}{% url 'inicio' %} {% endif %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
			</div>
			
			<div class="enlaces-derecha {%if request.user.is_authenticated%} usuario-activo{% endif %}">
					<a href="{% url 'inicio' %}" class="{%if  request.path == '/' %}activo{% endif %} menu_inicio" >Inicio</a>
					<a href="{% url 'login' %}" class="{%if  request.path == '/login/' %}activo{% endif %} menu_inicio" >Iniciar Sesion</a>
					<a href="{% url 'registrar_usuario' %}" class="{%if  request.path == '/crear_usuario/' %}activo{% endif %} menu_inicio">Crear Cuenta</a>
					<a href="{% url 'contactanos' %}" class="{%if  request.path == '/contacto/' %}activo{% endif %} menu_inicio">Contactanos</a>
			</div>
		</div>
	</div>
</header>
