{% extends 'bases/base.html' %}

{% load staticfiles %}

{% block title %}	
	configuracion / {{request.user}}
{% endblock %}

{% block static %}
		<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
		<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
{% endblock %}



{% block body %}
{% include 'bases/nav-user.html' %}

<div class="contenedor">
	<div class="burbuja-invisible">
	
		<div class="burbuja-grande">

			<div class="burbuja-izquierda">
				<form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form"> {% csrf_token %}
					<div class="titulo-boton">
						<span>Configuracion de la cuenta</span>
						<span class="boton-enviar inactivo">Guardar Cambios</span>
					</div>

					<div class="inputs">

						<div class="campo-inputs">
							<label for="id_username">{{form.username.label}}</label>
							{{form.username}}
						</div>
						
						<div class="campo-inputs">
							<label for="id_email">Correo</label>
							{{form.email}}
						</div>
						
						<div class="campo-inputs">
							<label for="id_image">Imagen</label>
							<input name="image" id="id_image" type="file">
						</div>

						{% if mensaje %}
							<div class="campo-inputs">
								<span class="mensaje">{{ mensaje }}</span>
							</div>
						{% endif %}
					</div>
				</form>

			
			</div>

			{% include 'bases/aside-user.html' %}
		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
	<script src="{% static 'js/form.js'%}" ></script>
{% endblock %}