{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	enseñate / {{ user.username}}
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock %}

{% block body %}

{% include 'bases/nav-user.html' %}
	

	<div class="contenedor">
		<div class="burbuja">
		
		<div class="unidades">

				<div class="texto-titulo icon-language">
					Unidades de Lenguaje de Señas
				</div>
			
			{% for  unidades, datos in datos %}			
				
				{% if forloop.counter == 1 %}
					<div>
						{% include 'dashboard/secciones.html' %}
					</div>
				{% endif %}

				{% if forloop.counter >= 2 and forloop.counter <= 3 %}
					{% if forloop.counter == 2 %}
						<div>	
					{% endif %}
						{% include 'dashboard/secciones.html' %}
					{% if forloop.counter == 3 %}
						</div>	
					{% endif %}
				{% endif %}

				{% if forloop.counter >= 4 and forloop.counter <= 5 %}
					{% if forloop.counter == 4 %}
						<div>	
					{% endif %}
						{% include 'dashboard/secciones.html' %}
					{% if forloop.counter == 5 %}
						</div>	
					{% endif %}
				{% endif %}

				{% if forloop.counter >= 6 and forloop.counter <= 8%}
					{% if forloop.counter == 6 %}
						<hr />
						<div>
					{% endif %}
						{% include 'dashboard/secciones.html' %}
					{% if forloop.counter == 8 %}
						</div>
					{% endif %}
				{% endif %}

				{% if forloop.counter >= 9 and forloop.counter <= 10 %}
					{% if forloop.counter == 9 %}
						<div>	
					{% endif %}
						{% include 'dashboard/secciones.html' %}
					{% if forloop.counter == 10 %}
						</div>	
					{% endif %}
				{% endif %}
				
			{% endfor %}


			
			


		</div>
		
		</div>	
		<span></span>
	</div>

{% endblock %}