{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	enseñate / {{ user.username}}
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock %}

{% block body %}

{% include 'bases/nav-user.html' %}
	

	<div class="contenedor">
		<div class="burbuja">
		
		<div class="unidades">

				<div class="texto">

					Unidades de Lenguaje de Señas
					<br>
					 <span class="nivel">
						Nivel: {{request.user.nivel}} 	
					</span>
				</div>
			
			{% for  unidades in unidades %}			
				
				<div class="seccion-unidad">
				{% if  unidades.bloqueado %} <a href="{% url 'lecciones' unidades.pk %}"> {% else %} <span> {% endif %}
				{{ unidades.titulo }}			   	
			   	<img class="imagen-seccion" src="{% static unidades.image.url %}"/>

				{% if  unidades.bloqueado %} </a> {% else %} </span> {% endif %}
				</div>
			{% endfor %}
		</div>
		
		</div>	
	</div>

{% endblock %}