{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block title %}
	enseñate / leccion
{% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/leccion.css' %}">

{% endblock %}

{% block body %}

{% include 'bases/nav-user.html' %}
	

	<div class="contenedor">
		<div class="burbuja">
			
			<div class="leccion">
				<div class="titulo {{unidades.titulo}}">
				<img src="{{unidades.image.url}}" alt="">
					<span> {{unidades.titulo}}</span>
				</div>
			</div>

				<div class="burbuja-secciones">
					{% for item in lecciones %}
						<div class="secciones">
							<span>LECCION</span>
							
							<p>
								En esta leccion aprenderas las siguientes palabras: <br/> <br/>
							
								{% for palabras in item.palabra_set.all%}
									{{ palabras }}{% if item.palabra_set.count != forloop.counter%},{% endif %}
								{% endfor %}
							</p>
							
							<a href="{% url 'vista_previa' unidad=unidades.titulo leccion=item.pk %} " class="{{unidades.titulo}}">Aprender</a>
						</div>
					{% endfor %}
				</div>
			</div>
		
		</div>
		
		</div>	
	</div>

{% endblock %}
